/* Table Container */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark table {
  border-color: #2e2e2d; /* Darker border in dark mode */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

/* Table Headers */
table th {
  text-align: left;
  background-color: #e0f7fa;
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 15px;
  border-bottom: 1px solid #b0bec5;
}

.dark table th {
  background-color: #121212; /* Darker header background */
  color: #eceff1; /* Lighter text color */
  border-bottom-color: #607d8b; /* Adjust border color */
}

/* Table Rows */
table tr {
  transition: background-color 0.3s ease-in-out;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dark table tr:nth-child(even) {
  background-color: #121212; /* Darker background for even rows */
}

/* Hover Effect */
table tr:hover {
  background-color: #e0f7fa;
}

.dark table tr:hover {
  background-color: #2e2e2d; /* Darker hover effect */
}

/* Table Cells */
table td {
  font-size: 0.85rem;
  padding: 12px 15px;
  color: #555;
  border-bottom: 1px solid #ddd;
}



.dark table td {
  color: #cfd8dc; /* Lighter text color */
  border-bottom-color: #607d8b; /* Darker border */
}

/* Additional Styling for the Table */
table td:first-child,
table th:first-child {
  padding-left: 20px;
}

table td:last-child,
table th:last-child {
  padding-right: 20px;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

.dark table tr:nth-child(odd) {
  background-color: #121212; /* Darker background for odd rows */
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px  
               /* Width of the scrollbar */
}
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 5px  
               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Track color */
}
.dark ::-webkit-scrollbar-track {
  background: #121212;       /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888;    /* Scrollbar color */
  border-radius: 10px;       /* Rounded corners for the scrollbar */
  /* border: 3px solid #f1f1f1; Add padding around the scrollbar */
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #555;    /* Scrollbar color */
  border-radius: 10px;       /* Rounded corners for the scrollbar */
  /* border: 3px solid #f1f1f1; Add padding around the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #124219;          /* Color when hovering over scrollbar */
}
